<div id="recentPosts">   
	<h1>Recent Posts</h1> (<%= link_to 'create new', new_post_path %>)
<% for post in @recentPosts %>
  <div class="blogPost">
    <h2><%= link_to post.title, post %></h2>
    <div class="blogContent"><%= post.content %></div>
  </div>
<% end %>
<div>

